@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@custom-variant dark (&:where(.p-dark, .p-dark *));

.bg-color {
  background-color: rgb(0, 0, 0);
}



.topBar {
  display: flex;
  width: 1920px;
  padding: 24px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
}

.topBar.bar {
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.text-hover-vertical {
  position: relative; /* make parent relative */
  display: inline-block;
  overflow: hidden;
}

.text-hover-vertical span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;

  transition: transform 0.5s ease;
  white-space: nowrap;
}

.center-all span {
  align-items: center;
  justify-content: center;
}

.text-hover-vertical span:first-child {
  top: 0;
}

.text-hover-vertical span:last-child {
  top: 100%;
  color: #71717A;
}

.text-hover-vertical:hover span:first-child {
  transform: translateY(-100%);
}

.text-hover-vertical:hover span:last-child {
  transform: translateY(-100%);
}

.btn-ani {
  background: white;
  color: black;
  border: 2px solid white;
  transition:
    background-color 300ms ease,
    color 300ms ease,
    border-color 400ms ease;
}

.btn-ani:hover {
  background: black;
  color: white;
  border-color: white;
}

.arrow {
  display: inline-block;
  transform: rotate(0deg) translate(0, -0px);  /* move up */
  transition:
    transform 0.1s ease,
    filter 0.4s ease;
}

.arrow-wrapper:hover .arrow {
  transform: rotate(45deg) translate(0, -0px);
  filter: brightness(0) invert(1);
}

.arrow-white {
  display: inline-block;
  transform: rotate(0deg) translate(0, -0px);  /* move up */
  transition:
    transform 0.5s ease,
    filter 0.4s ease;
    filter: brightness(0) invert(1);
}

.arrow-white-wrapper:hover .arrow-white {
  transform: rotate(45deg) translate(0, -0px);
}

.arrow-gray {
  display: inline-block;
  transform: rotate(0deg) translate(0, 0);
  filter: brightness(0) invert(1) brightness(1.9);
  transition:
    transform 0.5s ease,
    filter 0.5s ease;
}

.arrow-gray-wrapper:hover .arrow-gray {
  transform: rotate(45deg) translate(0, 0);
  filter: brightness(0) saturate(100%) invert(48%) sepia(6%) saturate(448%)
          hue-rotate(191deg) brightness(92%) contrast(89%);
}

.arrow-black {
  display: inline-block;
  transform: rotate(0deg) translate(0, 0);
  transition:
    transform 0.5s ease,
    filter 0.5s ease;
}

.arrow-black-wrapper:hover .arrow-black {
  transform: rotate(45deg) translate(0, 0);

}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background: black;
}

#app {
  width: 100%;
  max-width: 1920px; /* or 1600 / 1440 — pick your design width */
  margin: 0 auto;
}



/* Utility classes */
.satoshi { font-family: "Satoshi", sans-serif; }
.recoleta { font-family: "Recoleta", serif; }
.inter { font-family: "Inter", sans-serif; }

/* Satoshi */
@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Recoleta */
@font-face {
  font-family: "Recoleta";
  src: url("/src/assets/fonts/Recoleta-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter */
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-Regular.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-Bold.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
